[Unit]
Description=Docker container management daemon

[Service]
Type=simple
ExecStart=/usr/bin/docker -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
